.item {
  display: flex;
  border: 6px white solid;
  filter: drop-shadow(0px 10px 15px rgb(195, 195, 195));
}
.item:not(:last-child) {
  margin-bottom: 10px;
}
.item__date {
  background-color: rgb(100, 100, 244);
  color: white;
  font-size: 18px;
  font-weight: 700;
}
.item__cost {
  background-color: rgb(100, 100, 244);
  color: white;
  font-size: 32px;
  font-weight: 700;
}
.item__name {
  flex: 1 1 auto;
  background-color: yellow;
  color: blue;
  font-size: 32px;
  font-weight: 900;
}
